# Default ignored files
/shelf/
/workspace.xml
/course-remote-info.yaml
/course-info.yaml
/Problems/*
/Blockchain/*
/.idea
!/Blockchain/task
/Blockchain/task/out/production/classes/META-INF/Blockchain-task.kotlin_module
/build.gradle
/settings.gradle
/gradlew
/gradlew.bat
/.gradle/
/gradle/wrapper/
